.progress {
	height: 30px;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left,#f0d721, #f0d721);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}